*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
  scroll-margin-top: 70px; 
}
html {
  scroll-behavior: smooth;
}

body {
    font-family: Maven Pro, sans-serif;
    letter-spacing: 0.2px;
}
/* header start */
.navbar{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #211f1f;
   position: fixed;
   top: 0;
   z-index: 1000;

}

.logo{
    display: flex;
    gap: 15px;
    width: 70%;
  font-size: 20px;
  color: white;
  padding: 15px 0 15px 15px;
}
.logo a{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
   
}
.nav-links li{
  margin:0 45px;
  list-style: none;
   padding: 15px 0;
   font-weight: 700;
  font-size: 16px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    
}
.nav-links a:hover{
    color: #fec00b;
}
.hamburger {
   padding: 18px 10px 18px 0;
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
     transition: all 0.5s ease; 
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
/* header end */
/* about start */
.about{
   max-width: 1200px;
   width: 100%;
    background-color: #211f1f;
    display: flex;
    flex-direction: row;
   height: 92.5vh;

}
.about-left{
    flex: 1;
     display: flex;
    flex-direction: column;
  
   padding: 40px;
   justify-content: center;
}
.btn button{
    margin:20px 8px 0 0;
    padding: 13px 29px;
    border-radius: 25px;
    letter-spacing: 0.2px;
    font-weight: 700;
    border: none;
}
#btn1 a{
    text-decoration: none;
     color: rgb(79, 79, 79);
}
#btn1{
    color: rgb(79, 79, 79);
}
#btn1 a:hover{
    color: #fec00b;
}
#btn2 a{
     color: white;
     text-decoration: none;
}
#btn2 {
    cursor: pointer;
   
    background-color: rgb(79, 79, 79);
}
#btn2:hover{
    background-color: #fec00b;
}
.about-right{
    flex: 1;
      display: flex;
    flex-direction: column;
    padding: 40px;
  justify-content: center;
}
.about-left p{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.about-left h6{
    font-size: 18px;
    color: white;
    font-weight: 150;
}
/* .about-left h5{
    font-size: 15px;
    color: white;
    font-weight: 500;
    padding: 25px 0;
} */
.name{
    font-size: 20px;
    font-weight: 600;
}
.text-box{
    font-size: 38px;
    font-weight: 700;
    width: 100%;
   padding: 25px 0;
}
.fixed-text{
    display: inline-block;
    color: white;
}
.animated-text{
    display: inline-block;
    padding-left: 8px;
    color: #fec00b;
}
.animated-text span{
    position: relative;
}
.animated-text span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 2px solid #fec00b;
    right: -2px;
    background-color:  #211f1f;
    animation:8s textType ;
    animation-iteration-count:infinite;
     animation-timing-function: steps(10); 
   
    /* animation-fill-mode: backwards; */
}
@keyframes textType{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left:0;
    }
}
/* animation end */

/* project section start */

.project-section{
    max-width: 1200px;
    width: 100%;
    background-color: #211f1f;
    height: 100vh;
}
.project p{
    font-size: 38px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.carousel {
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
  overflow: hidden;
 
  background-color:#211f1f; 

  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
}
.carousel-track {
  display: flex;
  width: 400%; 
  animation: slide 20s  linear infinite;
 
}
.slide {
  min-width: 100%;
  transition: 0.5s ease-in-out;
   
}
.slide img{
   max-width: 800px;
    height: auto;
}
@keyframes slide {
  0%   { transform: translateX(0%); }
  20%  { transform: translateX(0%); }

  25%  { transform: translateX(-100%); }
  45%  { transform: translateX(-100%); }

  50%  { transform: translateX(-200%); }
  70%  { transform: translateX(-200%); }

  75%  { transform: translateX(-300%); }
  
  95%  { transform: translateX(-300%); }

  100% { transform: translateX(-300%); }
}
 /* project section end */
/* education */
.education-timeline {
  padding:20px;
 background-color: #211f1f;
  text-align: center;
}

.education-timeline h2 {
  font-size: 2.5rem;
  color:white;
  margin-bottom: 50px;
}

/* Timeline container */
.timeline {
  position: relative;
  max-width: 700px;
  margin: auto;
  padding-left: 20px;
  border-left: 4px solid #c0bbbb;
}


.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

/* Dot marker */
.timeline-dot {
  position: absolute;
  left: -11px;
  top: 8px;
  width: 18px;
  height: 18px;
 background-color: #c0bbbb;
  border: 4px solid #c0bbbb;
  border-radius: 50%;
}

/* Card content */
.timeline-content {
  background:  #211f1f;
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05), 
              0 1px 4px rgba(255, 255, 255, 0.08);
  text-align: left;
}

.timeline-content h3 {
  color:  white;
  margin-bottom: 5px;
}

.timeline-content p {
  margin: 5px 0;
  font-size: 1rem;
  color: #c0bbbb;
}

.timeline-content small {
  font-size: 0.9rem;
  color: #787777;
}
/* Tech section start */
.tech-section{
    background-color: #211f1f;
}
.tech p{
    font-size: 38px;
    color: white;
    font-weight: 700;
    text-align: center;
   margin-bottom: 30px;
}
.skill {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}
.skill-track {
   display: flex;
  width: fit-content;
  animation: scroll 40s infinite;
 
}
.slides {
  flex: 0 0 25%; 
  padding: 10px;
}
.slides img {
    background-color: white;
   width: 115px;
    height: 115px;
  border-radius: 8px;
 box-shadow:-10px 0 20px rgba(255, 255, 255, 0.4), 5px 0 10px rgba(255, 255, 255, 0.1); 
     
}

/*  scroll animation */
@keyframes scroll {
 
 0%   { transform: translateX(0); }
  10%  { transform: translateX(0); }

  12.5% { transform: translateX(-250px); }
  22.5% { transform: translateX(-250px); }

  25%  { transform: translateX(-500px); }
  35%  { transform: translateX(-500px); }

  37.5% { transform: translateX(-750px); }
  47.5% { transform: translateX(-750px); }

  50%  { transform: translateX(-1000px); }
  60%  { transform: translateX(-1000px); }

  62.5% { transform: translateX(-1250px); }
  72.5% { transform: translateX(-1250px); }
  100%{ transform: translateX(-1250px);}

}
/* contact start */
.contact-section{
   
    background-color: #211f1f;
    
}
.contact p{
    padding: 70px 0 30px 0;
    font-size: 38px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.contact-items span{
font-size: 18px;
color: white;
font-weight: 700;
}
.contact-item{
    display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  

}

.contact-items i{
    font-size: 60px;
    color: white;

}
.contact-items{
    display: flex;
  flex-direction:row;
  gap: 40px;
  align-items: center;
  justify-content: center;
 
}
.contact{
    padding-bottom: 50px;
}
.footer {
    background-color: #211f1f;
    padding: 48px 0;
}
.footer p{
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;

}

@media (max-width: 1024px) {
  .slides {
    flex: 0 0 33.33%; 
  }
}
 



@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
   display: inline-block;
    background-color:black;
    position: absolute;
    top: 55px;
    right: 20px;
    width: 320px;
    /* padding: 5px 0; */
   }
   .nav-links li{
    font-size: 11px;
   }
 .nav-links{
    display: none;
    text-align: center;
 }
 .logo{
    font-size: 17px;
 }

 .active {
 display: block;
  
  }
  
  .hamburger {
    display: flex;
  }
  .text-box{
    font-size: 30px;
    /* font-weight: 700; */
  }
  .animated-text{
    font-size: 20px;
  }
  .about{
    flex-direction: column;
  } 
  .about-left, .about-right{
    padding: 30px 20px;
  }
   .about-left{
    padding-top: 190px;
   
   }
  .project-section{
    padding-top:100px ;
  }
  .btn{
    text-align: center;
  }
  .btn button{
    width: 320px;
  }
  

  /* .about-left{
    text-align: center;
  } */
  .about-right{
    text-align: center;
  } 
   .slider {
    max-width: 100%;
  }



    .timeline {
    padding-left: 15px;
  }
  .timeline-content {
    padding: 15px;
  }
 .slides {
    flex: 0 0 50%; 
  }
.contact-items{
    flex-direction: column;
}
  
}
@media (max-width: 600px) {
  .slide img {
    max-height: 260px;
   max-width:350px ;
   padding-left: 5px;
  }
  .project{
   padding-top: 80px;
  }
  .project p{
   
    font-size: 25px;
  }
  .carousel{
    margin: 20px auto;
  }
  .education-timeline h2{
    font-size: 25px;
  }
.tech p{
    font-size: 25px;
}
.contact p{
    font-size: 25px;
}
}
@media (max-width: 480px) {
  .slides {
    flex: 0 0 100%; 
  }
  @keyframes scroll {
  0%    { transform: translateX(0%); }
  10%   { transform: translateX(0%); }

  12.5% { transform: translateX(-100%); }
  22.5% { transform: translateX(-100%); }

  25%   { transform: translateX(-200%); }
  35%   { transform: translateX(-200%); }

  37.5% { transform: translateX(-300%); }
  47.5% { transform: translateX(-300%); }

  50%   { transform: translateX(-400%); }
  60%   { transform: translateX(-400%); }

  62.5% { transform: translateX(-500%); }
  72.5% { transform: translateX(-500%); }

  75%   { transform: translateX(-600%); }
  85%   { transform: translateX(-600%); }

  87.5% { transform: translateX(-700%); }
  97.5% { transform: translateX(-700%); }

  100%  { transform: translateX(-700%); }
}

}
/* about end */


